.sales-box-body {
	padding-left: 30px;
	padding-right: 30px;
}


/*.heading-left .invoice-name {
	font-weight: 600;
    font-size: 15px;
    padding-left: 143px;
}
.heading-left div p {
	padding-right: 20px;
	margin:0;
	width: 28%;
	font-weight: 600;
	display: inline-block;
	padding-left: 10px;
}
.heading-left div p:after { 
	content: ':';
	padding-left: 5px;
	
}
.heading-left div span {
	
	width: 70%;
	display: inline-block;
}*/
.sales-heading-left {
	padding-top: 15px;
	
}
.sales-heading-left div p {
	margin:0;
	width: 25%;
	font-weight: 600;
	display: inline-block;
}
.sales-heading-left div span {	
	width: 75%;
	display: inline-block;
	text-align: left;
	
}
.sales-heading-left div span:before {
	content: ':';
	padding-right: 20px;
}
.sales-heading-right {
	padding-top: 15px;
	
}
.sales-heading-right div p {
	margin:0;
	width: 40%;
	font-weight: 600;
	display: inline-block;
	text-align: right;
}
.sales-heading-right div span {
	
	width: 59%;
	display: inline-block;
	text-align: left;
	padding-left: 20px;
}
.sales-heading-right div span:before {
	content: ':';
	padding-right: 20px;
}
.invoice-transact-table {
	margin-top: 20px;
}
.invoice-transact-table thead tr th {
	padding-bottom: 0;
}
.invoice-transact-table tbody tr td {
	padding-top: 0;
	padding-bottom: 0;
}
.invoice-footer-table {
	margin-top: 40px;
}
.invoice-footer-table tbody tr {
	border: 0;
}
.invoice-footer-table tbody tr td {
	padding-top: 0;
	padding-bottom: 0;
	border: 0;

}
.data-bill-tbody tr td:nth-child(3),.data-bill-tbody tr td:nth-child(4),.data-bill-tbody tr td:nth-child(5),.data-bill-tbody tr td:nth-child(6),.data-bill-tbody tr td:nth-child(7) {
	text-align: center;
}
.invoice-footer-table tbody tr td:nth-child(1) {
	width: 60%;
	font-weight: 600;
}
.invoice-footer-table tbody tr td:nth-child(2) {
	width: 40%;
	padding:0;
}
.invoice-footer-table tbody tr td .invoice-input {
	border-width: 0 0 1px 0;
	border-style: dashed;
	width: 90%;
}
.invoice-footer-table tbody tr td .invoice-input:active {
	border-width: 0 0 1px 0;
    border-color: #000;
}
.invoice-footer-table tbody tr td .invoice-input:focus {
	border-width: 0 0 1px 0;
    border-color: #798896;
    font-weight: 700;
	outline: none;
}
.b-c-l {
	padding-bottom: 30px;
}
.payment-info-statement {
	width: 100%;
	margin-top: 35px;
}
.payment-info-statement tbody tr td:nth-child(1){
	width: 70%;
	font-weight: 600;

}
.payment-info-statement tbody tr td:nth-child(1)::after {
	content: ':';
	text-align: right;
	padding-right: 20px;
    padding-left: 20px;
}

.payment-info-statement tbody tr td:nth-child(2){
	width: 30%;
	font-weight: 600;
}







button {
	position: relative;
 transition: all 0.4s ease-in; 
}
  
  &:before {
    content: '';
    background-color: aliceblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  &:focus {
    outline: 0;
    color: #fff;
    &:before {
      animation: effect_dylan 0.8s ease-out;
    }
  }
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

.error_color {
  color: #c34e4e;
  border-bottom: 1px solid #c34e4e;
}